# Twingate operator configurations
#
# **Required**: you have to specify `network` and
#  1) either `apiKey` or `existingAPIKeySecret`
#  2) either `remoteNetworkId`, `remoteNetworkName` or `existingRemoteNetworkIdSecret`
twingateOperator: {} # default is {}
#  apiKey: "<api key>"
#  existingAPIKeySecret:
#    name: my-secret
#    key: TWINGATE_API_KEY
#  network: "<network slug>"
#  remoteNetworkId: "<remote network id>"
#  existingRemoteNetworkIdSecret:
#    name: my-secret
#    key: TWINGATE_REMOTE_NETWORK_ID


# Twingate Kubernetes Access is currently in beta. Sign up for early access at https://www.twingate.com/product/kubernetes-access.
kubernetes-access-gateway:
  enabled: false
#  twingate:
#    network: "<network slug>"
#
#    # Customize the `TwingateResource` to create for operator to sync to Twingate
#    resource:
#      # Enable/disable automatic Twingate Resource creation
#      enabled: true
#      extraAnnotations:
#        # Resource alias is included in the auto-generated TLS cert
#        resource.twingate.com/alias: "myk8s.int"
  clusterDomain: cluster.local # default is cluster.local